# EDA Project 
## This analysis is done on the Registered Companies In India.
## AIM:
### 1: Which state has maximum number of registered compaines.
### 2: Which state has least number of registered companies.
### 3: Total authorized capital of companies in each state.
### 4: Types of companies registered in each state.
### 5: What class of companies are registered in each state.
### 6: Number of profit making companies.
### 7: Annual Return same class of companies.
### 8: Same class companies annual return state wise.
### 9: Which state is best suited for which class of company.
### 10: Growth of education sector compared to other.

#### Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Importing the dataset.

In [2]:
df=pd.read_csv("registered_companies.csv")

C:\Users\DELL\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3378: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#### Taking a look at the dataset and for number of rows, column, what are the columns.

In [3]:
df

,CORPORATE_IDENTIFICATION_NUMBER,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,DATE_OF_REGISTRATION,REGISTERED_STATE,AUTHORIZED_CAP,PAIDUP_CAPITAL,INDUSTRIAL_CLASS,PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN,REGISTERED_OFFICE_ADDRESS,REGISTRAR_OF_COMPANIES,EMAIL_ADDR,LATEST_YEAR_ANNUAL_RETURN,LATEST_YEAR_FINANCIAL_STATEMENT
0,F01450,NIKO RESOURCES LIMITED,ACTV,NaN,NaN,NaN,NaN,Gujarat,0.0,0.0,NaN,Agriculture & allied,"4TH FLOOR,LANDMARKRACE COURSE",ROC DELHI,SANJAY@NIKOINDIA.COM,NaN,NaN
1,F01518,WORLDWIDE RESOURCES HOLDINGS LTD,ACTV,NaN,NaN,NaN,16-07-1998,Gujarat,0.0,0.0,NaN,Agriculture & allied,403 3 6 322 MAHAVIR HOUSEBUSHEER BAGH HYDERGUD...,ROC DELHI,NaN,NaN,NaN
2,F01573,ATWOOD OCEANIC PACIFIC LIMITED,ACTV,NaN,NaN,NaN,NaN,Gujarat,0.0,0.0,NaN,Agriculture & allied,"Quadrant 1, Plot Number 18, 2nd FloorSuman Tow...",ROC DELHI,info@nangia.com,NaN,NaN
3,F01802,SOLVAY S A BELGIUM,NAEF,NaN,NaN,NaN,25-06-2001,Gujarat,0.0,0.0,NaN,Agriculture & allied,"Plot No. 3526 & 3527,GIDC Industrial Estate,",ROC DELHI,amit.kumashi@solvay.com,NaN,NaN
4,F01818,TATE AND LYLE INDUSTRIES LTD,ACTV,NaN,NaN,NaN,25-07-2001,Gujarat,0.0,0.0,NaN,Agriculture & allied,24 ATMAJYOTI NAGARELLORA PARK,ROC DELHI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992165,U51109NL2000PTC006232,SCIENTIFIC ADVANCE INSTRUMENTS & EQUIPMENTS CO...,STOF,Private,Company limited by Shares,Non-govt company,30-06-2000,Nagaland,1000000.0,20000.0,51109.0,Wholesale and retail trade repair of motor veh...,"BEHIND TOWN COMMITTEE,MKALABARI ROAD",ROC SHILLONG,NaN,NaN,NaN
1992166,U51109NL2000PTC006233,SUNSHINE INSTRUMENTS & EQUIPMENTS COMPANY PRIV...,STOF,Private,Company limited by Shares,Non-govt company,30-06-2000,Nagaland,1000000.0,200000.0,51109.0,Wholesale and retail trade repair of motor veh...,JAIN TEMPLE ROADDIMAPUR,ROC SHILLONG,NaN,NaN,NaN
1992167,U51109NL2000PTC006259,STERN (INDIA) PLANTATION & MARKETING PRIVATE L...,STOF,Private,Company limited by Shares,Non-govt company,25-07-2000,Nagaland,200000.0,3000.0,51109.0,Wholesale and retail trade repair of motor veh...,RENGMA CHURCH BUILDINGKHERMAHALDIMAPUR,ROC SHILLONG,NaN,NaN,NaN
1992168,U74950NL1998PTC005463,T.A. NGULLIE FRUIT PRODUCTS PVT LTD.,STOF,Private,Company limited by Shares,Non-govt company,09-07-1998,Nagaland,2500000.0,0.0,74950.0,Real estate renting and business activities,"CHUMUKEDIME,BLOCK-3, DIST.KOHIMA.",ROC SHILLONG,rks97cs@yahoo.com,NaN,NaN
1992169,U74990NL2016PTC008397,NAGA MART PRIVATE LIMITED,ACTV,Private,Company limited by Shares,Non-govt company,29-02-2016,Nagaland,500000.0,100000.0,74990.0,Real estate renting and business activities,"T.K Angami Complex,",ROC SHILLONG,narolamongkum@gmail.com,31-03-2019,31-03-2019

In [4]:
df.shape

(1992170, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1992170 entries, 0 to 1992169
Data columns (total 17 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   CORPORATE_IDENTIFICATION_NUMBER         object
 1   COMPANY_NAME                            object
 2   COMPANY_STATUS                          object
 3   COMPANY_CLASS                           object
 4   COMPANY_CATEGORY                        object
 5   COMPANY_SUB_CATEGORY                    object
 6   DATE_OF_REGISTRATION                    object
 7   REGISTERED_STATE                        object
 8   AUTHORIZED_CAP                          float64
 9   PAIDUP_CAPITAL                          float64
 10  INDUSTRIAL_CLASS                        object
 11  PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN  object
 12  REGISTERED_OFFICE_ADDRESS               object
 13  REGISTRAR_OF_COMPANIES                  object
 14  EMAIL_ADDR                              object
 15  LATEST_YEAR_ANNUAL_RETURN               object
 16  LATEST_YEAR_FINANCIAL_STATEMENT         object
dtypes: float64(2), object(15)
memory usage: 258.4+ MB

In [6]:
import seaborn as sns
df2 = df.sample(n=10000)

In [ ]:
sns.lineplot(data=df,y="AUTHORIZED_CAP",x="DATE_OF_REGISTRATION")

In [ ]:
df.AUTHORIZED_CAP.plot(kind='box')

In [ ]:
df.describe()

#### From the above description of the data we found out that two column are integer type rest of them currently seems object data type.Lets perform further analysis.

### Counting number of unique data.

In [ ]:
df.COMPANY_STATUS.value_counts()

In [ ]:
ind1=df.COMPANY_STATUS.value_counts().index

In [ ]:
# Checking for status of companies
plt.bar(ind1,df.COMPANY_STATUS.value_counts())
plt.show()

### It can be seen that there are 1190101 active comapnies.
### 688886 Stike Off companies.

In [ ]:
# Checking for no of Public Private and Individual owners.
df.COMPANY_CLASS.value_counts()

In [ ]:
ind2= df.COMPANY_CLASS.value_counts().index

In [ ]:
plt.pie(df.COMPANY_CLASS.value_counts(),labels=ind2)
plt.show()

In [ ]:
#Checking for company categories
df.COMPANY_CATEGORY.value_counts()

In [ ]:
ind3=df.COMPANY_CATEGORY.value_counts().index

In [ ]:
plt.pie(df.COMPANY_CATEGORY.value_counts(),labels=ind3,explode=[0,0.5,0.5])
plt.show()

In [ ]:
df.COMPANY_SUB_CATEGORY.value_counts()

In [ ]:
plt.pie(df.COMPANY_SUB_CATEGORY.value_counts())
plt.show()

In [ ]:
df.REGISTERED_STATE.value_counts()

In [ ]:
ind = df.REGISTERED_STATE.value_counts().index

In [ ]:
plt.bar(ind,df.REGISTERED_STATE.value_counts(),color="Aqua")
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
df.INDUSTRIAL_CLASS.value_counts()

In [ ]:
df.PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN.value_counts()

### Checking for null values in each column

In [ ]:
df.isnull().sum()

### We can see there are many column with null values.
### SInce the column with max number of null values has date type of data we can not fill null values.
### So I am storing all the rows with null values in  a new dataframe and dropping from the original.

In [ ]:
na_free = df.dropna()
only_na = df[~df.index.isin(na_free.index)]

In [ ]:
only_na

In [ ]:
# Dropping the null values.
df.dropna(inplace=True)

In [ ]:
df.shape

In [ ]:
# Checking for null values again if any.
df.isnull().sum()

In [ ]:
# Converting the DATE_OF_REGISTRATION column datatype which is object to datetime format
df["DATE_OF_REGISTRATION"] = df["DATE_OF_REGISTRATION"].apply(pd.to_datetime)

In [ ]:
df['REG_YEAR'] = df['DATE_OF_REGISTRATION'].dt.year
df['REG_MONTH'] = df['DATE_OF_REGISTRATION'].dt.month

In [ ]:

df["COMPANY_CLASS"] = df["COMPANY_CLASS"].apply(lambda x:"Solo" if x == 'Private(One Person Company)' else x)
print(df["COMPANY_CLASS"].unique())

df["REGISTRAR"] = df["REGISTRAR_OF_COMPANIES"].apply(lambda x:x.split("ROC\xa0")[-1])
print(df["REGISTRAR"].unique())

df["PRINCIPAL_BUSINESS"] = df["PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN"].apply(lambda x:x.split(" ")[0])
print(df["PRINCIPAL_BUSINESS"].unique())

#Creating bins for REGISTRATION_YEAR

In [ ]:

df["REG_YEAR_5BIN"] = df["REG_YEAR"].apply(lambda x:(round(x/5))*5)
print(df["REG_YEAR_5BIN"].unique())

df["REG_YEAR_10BIN"] = df["REG_YEAR"].apply(lambda x:(round(x/10))*10)
print(df["REG_YEAR_10BIN"].unique())
      
df["REG_YEAR_20BIN"] = df["REG_YEAR"].apply(lambda x:(round(x/20))*20)
print(df["REG_YEAR_20BIN"].unique())

In [ ]:
import seaborn as sns

In [ ]:
sns.set_theme(context='notebook',
              style='darkgrid',
              palette='magma',
              font='sans-serif',
              font_scale=0.6,
              color_codes=True,
              rc=None)

In [ ]:
f, ax = plt.subplots(2)

#Counting all the number fo companies by REG_YEAR

sns.countplot(x="REG_YEAR_5BIN",
              data=df, ax = ax[0])


#Year of registration by COMPANY_CLASS

sns.stripplot(x="REG_YEAR",
              y="COMPANY_CLASS",
              data=df, jitter=0.5,
              ax = ax[1])

In [ ]:
plt.figure(figsize=(20,30))
f, ax = plt.subplots(1, len(df["COMPANY_CLASS"].unique()))
f.tight_layout()
y=0
print(df["COMPANY_CLASS"].unique())
for x in df["COMPANY_CLASS"].unique():
    sns.histplot(x="REG_YEAR",
                data=df[df["COMPANY_CLASS"]==x],
                ax=ax[y])
    y+=1

In [ ]:
sns.countplot(x="COMPANY_CLASS",
              data=df[df["REG_YEAR"] >= 1982]) #Change year

In [ ]:
#Industry of companies

sns.stripplot(x="REG_YEAR",
              y="PRINCIPAL_BUSINESS",
              hue="COMPANY_CLASS",
              data=df, jitter=0.2)

In [ ]:
#Companies in respect to COMPANY_CLASS over time.
y=0
f, ax = plt.subplots(len(df["COMPANY_CLASS"].unique()),1)
f.subplots_adjust(top=1, bottom=-0.9, left=-0.9, hspace=0.2)
print(df["COMPANY_CLASS"].unique())
for x in df["COMPANY_CLASS"].unique():
    sns.stripplot(y="REG_YEAR",
                x="PRINCIPAL_BUSINESS",
                data=df[df["COMPANY_CLASS"]==x],
                hue="REG_YEAR_10BIN",
                palette="magma_r",
                jitter=0.4,
                ax=ax[y])
    y+=1

In [ ]:
 sns.lineplot(data=)